nav {
    border-radius: 32px;
    border: 10px solid black;
}
body {
    background-color: lightblue;
    border-radius: 32px;
    border: 10px solid black;
    }
div {
    font-size: 20px;
    font-family: 'Courier New', Courier, sans-serif;
    border-radius: 32px;
    border: 5px solid black;
    }
h1 {
    color: black;
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    border-radius: 32px;
    border: 10px solid black;
    }
h2 {
    font-size: 24px;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    border-radius: 32px;
    border: 10px solid black;
    }
ul {
    border: green 3px solid;
    font-size: 15px;
    font-family: 'Times New Roman', Times, sans-serif;
    border-width: 3px 10px;
    border-radius: 32px;

  }
p {
    border: 3px green solid;
    border-radius: 32px;
    }
img {
    border-radius: 32px;
    border: 10px solid black;
    width: 75%;
    height: 75%;
}